 * {
     font-family: Arial, Helvetica, sans-serif;
 }
 
 body {
     padding: 60px;
     background-color: rgb(190, 174, 199);
 }
 
 input {
     color: rgb(104, 193, 209);
     font-size: 1.2rem;
     width: 100%;
 }
 
 .card-grid {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
 }
 
 .card {
     align-content: center;
     border: 3px solid rgb(98, 104, 131);
     background-color: rgb(116, 102, 139);
     border-radius: 10px;
     margin-bottom: 10px;
     margin-right: 10px;
     overflow: hidden;
 }
 
 .card p {
     padding: 10px;
     text-align: center;
     text-anchor: 20px;
     color: rgb(255, 255, 255);
 }
 
 .card img {
     max-height: 170px;
 }